<div class="container">

  <app-field
  [value]="valor"
  [type]="tipo"
  [label]="label"
  [readonly]="false"
  ></app-field>

  <app-field
  [value]="'Lalona'"
  [type]=1
  [label]="''"
  ></app-field>
  
  <app-field
  [value]="'PEPITO'"
  [type]=2
  [label]="'Nuevo Input:'"
  ></app-field>
  
  <app-field
  [value]="'Checkbox'"
  [type]=3
  [label]="'Opcion1:'"
  [checked]=true
  ></app-field>
  
  <app-field
  [value]="'prueba@gmail.com'"
  [type]=4
  [label]="'Email:'"
  ></app-field>
  
  <app-field
  [value]="'123'"
  [type]=5
  [label]="'Password'"
  ></app-field>
  
  <app-field
  [value]="'PEPITO'"
  [type]="6"
  [label]="'Radio:'"
  [checked]=true
  ></app-field>
  
  <app-field
  [value]="'Enviar'"
  [type]="7"
  [label]="'Submit:'"
  ></app-field>

  <app-field
  [value]=233.22123332
  [type]="8"
  [label]="'Number:'"
  [cantDecimal]=0.1
  ></app-field>
  
  <app-field
  [value]=78787887.88
  [type]="9"
  [label]="'Monetary:'"
  ></app-field>

  <!-- <app-field
  [value]=1
  [type]="10"
  [label]="'Icon:'"
  ></app-field> -->

  <app-field
  [value]=78787887.88
  [type]="11"
  [label]="'Float:'"
  ></app-field>

  <app-field
  [value]="''"
  [type]="12"
  [label]="'Button'"
  ></app-field>

  <app-field
  [value]="'nombredelaproperty'"
  [type]="13"
  [label]="'Select:'"
  
  ></app-field>

 

</div>